@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
/* line 6, ../MYMSUPLEMENTOS/sass/style.scss */
* {
  font-family: 'Poppins', sans-serif;
}

/* line 10, ../MYMSUPLEMENTOS/sass/style.scss */
body {
  background: #161815;
  overflow: hidden;
}

/* line 15, ../MYMSUPLEMENTOS/sass/style.scss */
.section-padding {
  padding: 70px 0;
}

/* line 19, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-item {
  height: 92vh;
  min-height: 300px;
  text-shadow: 1px 1px 3px black;
}

/* line 25, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-caption {
  z-index: 2;
}

/* line 28, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-caption h5 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
}

/* line 35, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-caption h1 {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

/* line 42, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 18px;
  line-height: 1.9;
}

/* line 51, ../MYMSUPLEMENTOS/sass/style.scss */
.text-justify {
  text-align: justify;
}

/* line 55, ../MYMSUPLEMENTOS/sass/style.scss */
.carousel-inner::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.432);
  z-index: 1;
}

/* line 67, ../MYMSUPLEMENTOS/sass/style.scss */
.btn-p {
  background-color: #169105;
}

/* line 73, ../MYMSUPLEMENTOS/sass/style.scss */
.btn:hover {
  color: white;
  background-color: #44f52c;
}

/* line 78, ../MYMSUPLEMENTOS/sass/style.scss */
.btn-info {
  color: white;
}

/* line 84, ../MYMSUPLEMENTOS/sass/style.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 89, ../MYMSUPLEMENTOS/sass/style.scss */
#galery img {
  width: 100%;
  height: 300px;
}

/* line 94, ../MYMSUPLEMENTOS/sass/style.scss */
#galery .col-lg-4 {
  padding: 25px;
  margin: 0 !important;
}

/* line 99, ../MYMSUPLEMENTOS/sass/style.scss */
#galery img:hover {
  border: 5px solid #169105;
}

/* line 103, ../MYMSUPLEMENTOS/sass/style.scss */
.form-label {
  color: white;
}

/* line 108, ../MYMSUPLEMENTOS/sass/style.scss */
.form-control {
  border-color: #169105;
  border-width: 3px;
}

/* line 113, ../MYMSUPLEMENTOS/sass/style.scss */
.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 119, ../MYMSUPLEMENTOS/sass/style.scss */
.navbar-dark .navbar-brand {
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

/* line 127, ../MYMSUPLEMENTOS/sass/style.scss */
.buttom:hover {
  color: #169105;
}

/* line 132, ../MYMSUPLEMENTOS/sass/style.scss */
.nav-link:hover {
  color: #169105;
}

/* line 136, ../MYMSUPLEMENTOS/sass/style.scss */
.w-100 {
  height: 100vh;
}

/* line 140, ../MYMSUPLEMENTOS/sass/style.scss */
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

/* line 146, ../MYMSUPLEMENTOS/sass/style.scss */
.services .card-body i {
  font-size: 50px;
}

/* line 150, ../MYMSUPLEMENTOS/sass/style.scss */
.iframe-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 155, ../MYMSUPLEMENTOS/sass/style.scss */
.iframe-mapa iframe {
  width: 55%;
  height: 300px;
}

/* line 161, ../MYMSUPLEMENTOS/sass/style.scss */
.navbar-brand .text:hover {
  background-color: #169105;
}

/* line 165, ../MYMSUPLEMENTOS/sass/style.scss */
.fa-facebook {
  font-size: 30px;
  color: blue;
}

/* line 170, ../MYMSUPLEMENTOS/sass/style.scss */
.fa-instagram {
  font-size: 30px;
  color: #ff00b3;
}

/* line 175, ../MYMSUPLEMENTOS/sass/style.scss */
.fa-whatsapp {
  font-size: 30px;
  color: #169105;
}

@media (max-width: 767px) {
  /* line 182, ../MYMSUPLEMENTOS/sass/style.scss */
  .navbar-nav {
    text-align: center;
  }
  /* line 186, ../MYMSUPLEMENTOS/sass/style.scss */
  .carousel-item {
    height: 70vh;
  }
  /* line 190, ../MYMSUPLEMENTOS/sass/style.scss */
  .w-100 {
    height: 70vh;
  }
  /* line 194, ../MYMSUPLEMENTOS/sass/style.scss */
  .carousel-caption {
    bottom: 125px;
  }
  /* line 198, ../MYMSUPLEMENTOS/sass/style.scss */
  .carousel-caption h5 {
    font-size: 17pxs;
  }
  /* line 202, ../MYMSUPLEMENTOS/sass/style.scss */
  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }
  /* line 207, ../MYMSUPLEMENTOS/sass/style.scss */
  .carousel-caption p {
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
  }
  /* line 213, ../MYMSUPLEMENTOS/sass/style.scss */
  .about-text {
    padding-top: 50px;
  }
  /* line 217, ../MYMSUPLEMENTOS/sass/style.scss */
  .card {
    margin-bottom: 30px;
  }
  /* line 221, ../MYMSUPLEMENTOS/sass/style.scss */
  .section-padding {
    padding: 50px 0;
  }
}

/*# sourceMappingURL=style.css.map */