@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$color-primario: rgb(30, 255, 0);
$color-secundario: rgb(255, 255, 255);

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #161815;
    overflow-x:hidden
}

.section-padding{
    padding: 70px 0;
}

.carousel-item{
    height: 92vh;
    min-height: 300px;
    text-shadow: 1px 1px 3px black;
}

.carousel-caption{
    z-index: 2;

        h5{
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 15px;
         }

         h1{
            font-size: 45px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 25px;
        }

        p{
            width: 60%;
            margin: auto;
            font-size: 18px;
            line-height: 1.9;
        }
    
}


.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.432);
    z-index: 1;
}


.btn-p{
    background-color: $color-primario;
    text-shadow: 1px 1px 3px black;
}


.btn:hover{
    color: $color-secundario;
    background-color: rgb(247, 87, 87);
}

a:-webkit-any-link{
    text-decoration: none;
}

.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand{
    color: $color-secundario;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.buttom:hover{
    color:$color-primario;
}


.nav-link:hover{
    color: $color-primario;
}

.w-100{
    height: 100vh;
}

.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i{
    font-size: 50px;
}

.iframe-mapa {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        width: 55%;
        height: 300px;
    }
}

.navbar-brand .text:hover{
    background-color: $color-primario;
}

.fa-instagram{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #314652;
    color: rgb(255, 0, 234);
    border-radius: 50%;
    box-shadow: 2px 2px 5px $color-secundario;
    transition: all .4s ease-in-out;
}

.fa-instagram:hover{
    transform: scale(1.2);
    color: white;
}

@media(max-width: 767px){
    .navbar-nav {
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100{
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5{
        font-size: 17pxs;
    }
    .carousel-caption a{
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text{
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
}