@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$color-primario: rgb(22, 145, 5);
$color-secundario: rgb(255, 255, 255);

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #161815;
    overflow-x: hidden
}

.section-padding {
    padding: 70px 0;
}

.carousel-item {
    height: 92vh;
    min-height: 300px;
    text-shadow: 1px 1px 3px black;
}

.carousel-caption {
    z-index: 2;

    h5 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 15px;
    }

    h1 {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 25px;
    }

    p {
        width: 60%;
        margin: auto;
        font-size: 18px;
        line-height: 1.9;
    }

}

.text-justify{
    text-align: justify;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.432);
    z-index: 1;
}


.btn-p {
    background-color: $color-primario;

}


.btn:hover {
    color: $color-secundario;
    background-color: (rgb(68, 245, 44));
}

.btn-info {
    color: $color-secundario;
}



a {
    color: $color-secundario;
    text-decoration: none;
}

#galery img {
    width: 100%;
    height: 300px;
}

#galery .col-lg-4 {
    padding: 25px;
    margin: 0 !important;
}

#galery img:hover {
    border: 5px solid $color-primario;
}

.form-label {
    color: $color-secundario;
}


.form-control {
    border-color: $color-primario;
    border-width: 3px;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand {
    color: $color-secundario;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.buttom:hover {
    color: $color-primario;
}


.nav-link:hover {
    color: $color-primario;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i {
    font-size: 50px;
}

.iframe-mapa {
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        width: 55%;
        height: 300px;
    }
}

.navbar-brand .text:hover {
    background-color: $color-primario;
}

.fa-facebook{
    font-size: 30px;
    color:blue
}

.fa-instagram{
    font-size: 30px;
    color: rgb(255, 0, 179);
}

.fa-whatsapp{
    font-size: 30px;
    color: $color-primario;
}


@media(max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .carousel-item {
        height: 70vh;
    }

    .w-100 {
        height: 70vh;
    }

    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
        font-size: 17pxs;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }

    .about-text {
        padding-top: 50px;
    }

    .card {
        margin-bottom: 30px;
    }

    .section-padding {
        padding: 50px 0;
    }
}